<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>String:</strong>
    <%= employee.string %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= employee.age %>
  </p>

  <p>
    <strong>Integer:</strong>
    <%= employee.integer %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= employee.gender %>
  </p>

  <p>
    <strong>String:</strong>
    <%= employee.string %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= employee.designation %>
  </p>

  <p>
    <strong>String:</strong>
    <%= employee.string %>
  </p>

</div>
