<div id="<%= dom_id employee_datum %>">
  <p>
    <strong>Name:</strong>
    <%= employee_datum.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= employee_datum.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= employee_datum.gender %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= employee_datum.designation %>
  </p>

</div>
