<p style="color: green"><%= notice %></p>

<%= render @employeesample %>

<div>
  <%= link_to "Edit this employeesample", edit_employeesample_path(@employeesample) %> |
  <%= link_to "Back to employeesamples", employeesamples_path %>

  <%= button_to "Destroy this employeesample", @employeesample, method: :delete %>
</div>
